
<mat-toolbar>
  <span  class="content-box">Cadastro de novo funcionário </span>
</mat-toolbar>
<br>
  
    <div class="content-box"  >
<form class="example-form" >

<mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field class="example-full-width">
    <mat-label>Contato Alternativo</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field class="example-full-width">
    <mat-label>Celular</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
<mat-form-field class="example-full-width">
    <mat-label>Foto (url)</mat-label>
    <input matInput>
  </mat-form-field>
 

</form>

<div class="example-button-row">
  <button mat-raised-button color="warn" [routerLink] = "['']">Voltar</button>
</div>
    </div>
  

